@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CDN JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <!-- CUSTOM JS -->
    <script src="~/Scripts/Main.js"></script>



</head>
<body>
    <div>
        <table style="width:25%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Binance Price</th>
                    <th>Chiliz Price</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
<style>
    table > thead > tr > th {
        text-align: left
    }
</style>
</html>
